:root {
    --bg-main: #FFF;

    --bg-main-oringe: #FFBF9B;

    --bg-main-white: #FAFAFA;

    --font-color-grey: #7B7B7B;

    --font-color-black: #000000;

    --bg-main-grey: #F9F9F9;

    --font-color-orange: #FE5F00;

    --font-color: #f1f1f1;
}